// .Pause

.screen-pause {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/screen-pause.jpg');
  background-size: 960px 640px;
  width: 100%;
  height: 100%;
}