//**************
//  1120 responsive 12 col grid
//  www.kylehenwood.com
//  7/22/2014
//**************

.center {
  margin: 0 auto;
  max-width: 1120px;
}

.center-1600 {
  max-width: 1400px;
}

.center-1120 {
  max-width:  1120px;
}

.center-960 {
  max-width: 960px;
}

.center-800 {
  max-width: 800px;
}

.center-640 {
  max-width: 640px;
}